body {
  font-family: "Roboto Condensed", sans-serif;
  padding: 0px 10px;
}

header {
  background-color: #f89406;
  color: whitesmoke;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  text-shadow: 0 0 5px grey;
  border-radius: 5px;
}

header h1 {
  font-size: 1.5em;
  margin-right: auto;
}

#cartIcon {
  font-size: 1.52em;
  align-self: center;
  padding: 10px;
  background-color: #f89406;
  border-radius: 5px;
  box-shadow: 0 0 0px #dadfe1;
  color: white;
  text-shadow: 0 0 2px #dadfe1;
  cursor: pointer;
  text-align: center;
}
.fa-shopping-cart {
  color: whitesmoke;
  text-align: center;
}

.itemsPage {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 90%;
  padding: 10px;
  flex-wrap: wrap;
}

.foodButton {
  background-color: #4b77be;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 2px grey;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 5px;
  cursor: pointer;
}

.foodButton > div {
  pointer-events: none;
}

.cartName {
  border-top: 2px solid black;
}

.button {
  text-decoration: none;
  background-color: #f89406;
  color: whitesmoke;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px #dadfe1;
  width: 75px;
  text-align: center;
  margin-top: auto;
}

#buttons {
  display: flex;
  width: 50%;
  position: relative;
  justify-content: space-between;
  cursor: pointer;
}

h2 {
  align-self: center;
}

#payWith {
  border-top: 2px solid black;
  padding: 5px 0px 0px 0px;
}

.cartItem {
  padding: 5px;
  border-left: 2px solid black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
i {
  padding-left: 10px;
  color: #f89406;
  cursor: pointer;
}

@media only screen and (min-width: 568px) {
  .itemsPage {
    width: 100%;
  }
}
@media only screen and (min-width: 980px) {
  .itemsPage {
    /* margin: 15px; */
  }
  .foodButton {
    margin: 10px;
  }
}
@media only screen and (min-width: 1071px) {
  .foodButton {
    margin: 20px;
  }
}
@media only screen and (min-width: 1191px) {
  .foodButton {
    margin: 30px;
  }
}

@media only screen and (min-width: 1310px) {
  .foodButton {
    margin: 45px;
  }
}

.receipt i {
  display: none;
}

.receiptCard i {
  display: none;
}

label {
  font-size: 18px;
  font-weight: bolder;
  margin-right: 5px;
}

input {
  padding: 5px;
}

#receiptHeader {
  border-top: 0.5px solid black;
  padding-top: 15px;
}
